/*font-family: 'Dancing Script', cursive;*/
body {
    margin:0;
    background-color:mistyrose;
}
.first {
    background-image: url("https://images.pexels.com/photos/7037471/pexels-photo-7037471.jpeg");
    background-size: cover;
    padding-bottom:250px;
    text-align:center;
    margin-bottom: 60px
}
.center-img {
    width:150px;
    border-radius: 50%;
    margin-top: 250px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align:center;
}
.description {
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
    margin-left: 20px;
}
h2 {
    font-family: 'Marck Script', cursive;
    width: 400px;
    color: saddlebrown;
}
.main{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;

}
.photos{
    display: flex;
    flex-direction: column;
}
hr{
    padding:30px;
    border-top: 1px dashed grey;
}
h3{
    margin-left: 25px;
}
.tshirt{
    text-align:center;
}
.tshirt img{
border-radius: 20%;
padding:30px;

}
.ending{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:lavenderblush;
}
.ending h1{
    color: saddlebrown;
}